body{
    float:none;
    margin:0;
}
.clase1{
    margin: -23px;
    background-color:black;
    color: white;
    padding-left: 50px;
}
.menu {
    background-color: black;
    padding-bottom: 50px;
}
.menu ul{
    width:100%;
    list-style:none;
    margin:0 auto;
    position: static;
    margin-left:-40px;
}
.menu li a{
    list-style: none;
    float:left;
    color:#fff;
    padding:10px;
    text-decoration: none;
}
.menu li a:hover{
    color:cornflowerblue;
    background-color:black;
}
.seccio1 {
    width: 100%;
    background: url("../imagenes/1.jpeg")  fixed;
    border-bottom: solid;
    border-color: black;
    text-align: center;
    margin-top: -20px;
    color: white;
}

.seccio1 p{
    padding: 5px;
}
.seccio1 h2{
    padding-top: 30px;
}

.seccio2{
    background-color: #F9F6FF;
    margin-top: -20px;
    padding: 20px;

}
.seccio2 ol{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.seccio2 li{
    text-align: center;
    align-items: center;
    list-style: none;
    border: cornflowerblue 5px solid;
    padding: 10px;
    margin: 5px;
    width: 500px;
    background-color: aliceblue;
}
.seccio2 img{
    height: 350px;
    width: 500px;
}
.pr{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;

}
.seccio3{
    background-color: #F9F6FF;
    margin-top: -20px;
    padding: 20px;
}
.seccio3 li{
    list-style: none;
}
.footer{
    padding: 20px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (max-width: 800px) {
    .clase1{
        padding: 25px;
        background-color:black;
        color: white;
        padding-left: 50px;
    }
    .seccio3{
        text-align: center;
    }
    .footer{
        padding: 20px;
        background-color: black;
        color: white;
        display: block;
        text-align: center;
    }
}